body {
    background: linear-gradient(to right, #ece9e6, #ffffff);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.a1{
    display: inline-block;
    background: #FF6F61;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.navbar a:hover {
    color: white;
}

.navbar .a1:hover {
    color: lightblue;
}